body {
    margin: 0;
    padding: 0;
}


.banner-section {
    height: 100vh;
    background-image: url("./images/banner.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

}


ul {
    display: flex;
    gap: 50px;
    list-style: none;
    font-size: 20px;
    color: white;
    font-style: italic;
    justify-content: right;
    padding: 20px;

}

li:hover {
    font-size: 21px;
    cursor: pointer;

}


.intro {
    text-align: center;
    color: white;
    padding: 0% 20%;
    margin-top: 10%;

}


.intro h1 {
    font-size: 60px;
    
}


.intro button {
    font-size: 20px;
    padding: 15px 20px;
    background-color: teal;
    color: white;
    border: none;
    border-radius: 40px;
    cursor: pointer;
}



.intro p {
    font-size: 20px;
}

.intro button:hover {
    background-color: rgb(2, 107, 107);
    font-size: 21px;
    color: white;
    transition: background-color 0.5s;
    transition: font-size 0.2s;
}


.course-section h1 {
    text-align: center;

}


.course-section {
    padding-top: 80px;

}



.course {
    background-color: bisque;
    text-align: center;
    padding: 0px 15px;
    border-radius: 20px;

}


.course-container {
    display: flex;
    gap: 20px;
    margin: 5%;

}


.course:hover {
    color: red;
}


.facility-container {
    display: flex;
    gap: 20px;
    padding: 5%;
}



.facility {
    background-color: whitesmoke;
    width: 30%;
    text-align: center;
    padding: 30px;
    border-radius: 20px;
    height: 470px;
    border: 1px solid black;
}


.facility img {
    width: 100%;
    height: 70%;
    object-fit: cover;
}
.facility-section {
    text-align: center;
    padding-top: 100px;
}



.enroll-section {
    height: 300px;
    margin: 10% 17%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    padding: 0% 12%;
    color: white;
    background-image: url("/School/images/grad.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 70%;
    border-radius: 10px;

}


.enroll-section button {
    background-color: transparent;
    color: white;
    border: 2px solid white;
    border-radius: 20px;
    padding: 5px 10px;
    cursor: pointer;
    font-size: 20px;

}


.enroll-section button:hover {
    color: red;
    border: 2px solid red;
    font-size: 22px;
}




.footer {
    display: flex;
    gap: 20%;
    justify-content: center;
    background-color: teal;
    height: 50vh;
    padding: 5% 10%;

}



.form {
    display: flex;
    
    flex-direction: column;
    gap: 20px;
}

input {

    height: 40px;
    background-color: transparent;
    border: 1px solid black;
    font-size: 18px;
    padding-left: 15px;
    outline: none;
    
}

textarea {
    height: 60px;
    background-color: transparent;
    border: 1px solid black;
    font-size: 18px;
    padding-left: 15px;
    outline: none;
}

 input::placeholder {

    color: black;
 }


 textarea::placeholder {
    color: black;
 }
